@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra {
    background-color: v.$azul;
    
    h2 {
        margin-left: 2rem;
    }

    &__contenido {
        @include m.contenedor;
        display: flex;
        flex-direction: column;
        width: min(100%, 140rem);
        
        @include m.desktop {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }

    }


    &__logo{
        @include m.logo;
        @include m.texto-fluido(2rem, 3rem);
    }
}