@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion {
    display: flex;
    flex-direction: column;
    
    @include m.desktop {
        flex-direction: row;
    }

    &__enlace {
        color: v.$blanco;
        font-size: 1.8rem;
        padding: 2rem;
        font-weight: v.$black;
        text-transform: uppercase;
        text-align: center;
        transition-property: background-color;
        transition-duration: .8s;
        box-shadow: 0 0 1px rgba($color: #0a6cff77, $alpha: 3.0);
        border-radius: 2px;

        &:hover {
            color: v.$azul;
            background-color: lighten(v.$azul, 43);
            transition-property: background-color;
            transition-duration: .8s;
            border-radius: 2px;
            box-shadow: 0 0 10px rgba($color: #c2c2c2, $alpha: 0.5);
        }
    }
} 