@use 'base/mixins' as m;
@use 'base/variables' as *;

.table  {
    width: 100%;
    border-collapse: collapse;
    

    &__thead {
        background-color: $gris;
        color: $blanco;
    }

    &__th {
        padding: 1rem;
        text-align: left;

    }

    &__tr {
        
        &:nth-of-type(even) {
            background-color: lighten($gris-oscuro, 70);
           
        }
    }

    &__td {
        padding: 1.5rem 1rem;

        &--acciones {
            @extend .table__td;
            display: flex;
            justify-content: flex-end;
            gap: 2rem;
            align-items: center;

        }

        .a {
            color: $negro;
        }
    }


    &__accion {
        all: unset;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: $bold;
        
        &--editar {
            color: $verde;
        }
        &--eliminar {
            color: $rojo;
        }
        &:hover{
            cursor: pointer;
        }
    }
}