@use 'base/variables' as v;
@use 'base/mixins' as m;

.alertas {
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    text-transform: uppercase;
    margin: 1rem 0;
    font-size: v.$bold;



    &__error{
        background-color: lighten(v.$rojo, 60%);
        border-left: .5rem solid v.$rojo;
        color: v.$rojo;
        border-radius: 3px;
    }

    &__exito {
        background-color: lighten(v.$verde, 80%);
        border-left: .5rem solid v.$verde;
        color: darken(v.$verde, 5);
        border-radius: 3px;
    }
}
